body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background:linear-gradient(to bottom, grey, rgb(65, 64, 64), black);
    color:wheat;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{
    height: 3cm;
}
header h1{
    color: cyan;
    padding-left: 5vw;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 1);
}


/**Section_1 start**/

#section_1{
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

#section_1 h1{
    color: gold;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 1);
    font-size: xx-large;
}

/**Section_2 start**/


#section_2{
    margin-bottom: 20px;
    margin-top: 150px;
}
#section_2 h1{
    text-align: center;
    font-size: xx-large;
    color: cyan;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 1);
}

#section_2 h2{
    text-align: center;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 1);
}

#container_div{
    align-content: space-evenly;
}

#container_div button{
    margin-bottom: 2em;
    width: 30%;
    height: 5vh;
    background: none;
    border: 2px solid cyan;
    border-radius: 15px;
    color: red;
    transition: 0.3s;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 1);
}
#container_div button:hover{
    scale: 1.2;
}
#free_channel{
    width: 100%;
}
#premium_channel{
    border: 2px solid gold;
    border-radius: 15px;
    width: 100%;
}

#premium_channel button{
    border: 2px solid gold;
}

#premium_channel h2{
    color: gold;
}
/*Section 3 start*/



#section_3 h1{
    text-align: center;
    text-shadow: 5px 5px 10px rgba(242, 242, 172, 0.60);
}

#brokers{
    text-align: center;
    margin: 4cm;
}

#brokers h1{
    font-size: xx-large;
}

footer{
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
footer p:nth-child(1){
	font-size: 30px;
	color: white;
	margin-bottom: 20px;
	font-weight: bold;
}
footer p:nth-child(2){
	color: white;
	font-size: 17px;
	width: 500px;
	text-align: center;
	line-height: 26px;
}
.social{
	display: flex;
}
.social a{
	width: 45px;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	background:transparent;
    color: red;
	border-radius: 50%;
	margin: 22px 10px;
	border: 2px solid wheat;
	text-decoration: none;
	font-size: 400px;
}
.social a:hover{
	transform: scale(1.3);
	transition: .3s;
}
